.question {
    padding: 25px;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid #116e08;
    margin-left: 10px;
    margin-right: 10px;
}

.question .error {
    left: 35px;
    bottom: 10px;
}

.question__item {
    padding-top: 10px;
    padding-left: 10px;
}

.question__name {
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
}

.question__form {
    display: flex;
    flex-wrap: wrap;
}

.recommends {
    width: 90%;
    height: 150px;
    outline: none;
    border: 1px solid rgba(75, 72, 72, 0.81);
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial;
    margin-top: 25px;
    margin-left: 10px;
    resize: none;
}

.recommends:hover, .recommends:focus {
    border: 1px solid #116e08;
}

.button {
    margin-left: 10px;
}

.checkboxItem  {
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 15px 0 0;
}

.question__item .recommends[type="text"] {
    margin: 10px 0 0 0;
    height: 15px;
}
